doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css")
    script(defer src="https://code.getmdl.io/1.2.1/material.min.js")
  body
    
    div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
      header(class="mdl-layout__header")
        div(class="mdl-layout__header-row")
          span(class="mdl-layout-title") 
            a(class="mdl-navigation__link" href="/") あなたがマチの宣伝部長 
          div(class="mdl-layout-spacer")
          nav(class="mdl-navigation mdl-layout--large-screen-only")
            a(class="mdl-navigation__link" href="./mobapp/") 投稿アプリ
            a(class="mdl-navigation__link" href="https://github.com/team-quizran/machiad") GitHub 
      div(class="mdl-layout__drawer")
        span(class="mdl-layout-title") マチアド
        nav(class="mdl-navigation")
          a(class="mdl-navigation__link" href="./mobapp/") 投稿アプリ
          a(class="mdl-navigation__link" href="https://github.com/team-quizran/machiad") GitHub 
      main(class="mdl-layout__content")
        div(class="page-content") 
          block content 
